<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite" >

<test thread-count="5" name="UserTest" >
		<classes>
			<class name="org_admin.UserTest" />
		</classes>
	</test>
	
	<test thread-count="5" name="CoopTest">
		<classes>
			<class name="org_admin.coopTest" />
		</classes>
		
	</test>
	
		<test thread-count="5" name="FPOTest">
		<classes>
			<class name="org_admin.FPOTest" />
		</classes>
	</test>
	
	

	
	<!-- -<test thread-count="5" name="RoleTest">
		<classes>
		
			<class name="org_admin.coopTest" />
		</classes>
	</test>-->
	
	<!-- Test1 -->
	
		<test thread-count="5" name="FPO_vareity">
		<classes>
			<class name="fpo.VarietyTest" />
		</classes>
	</test>
		<test thread-count="5" name="FPO_inputplan">
		<classes>
			<class name="fpo.InputPlan" />
		</classes>
		</test>
				<test thread-count="5" name="FPOPOP">
		<classes>
			<class name="fpo.POP" />
		</classes>
	</test>
	
</suite> <!-- RegressionSuite -->
